
li {
  display: inline;
}

.flexbox {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  display: flex;
  justify-content: center;
  font-family: 'Roboto Condensed', sans-serif;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 18px 27px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
  text-decoration: none;
  color: white;
}


#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.barre {
  margin-right: 200px;
}



/* Add a black background color to the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

